{% extends 'base.html' %}
{% load static %}
{% load sidebar %}


{% block title %}
    {{ post.title }}
{% endblock title %}



{% block content %}

    <div class="wrapper">

        <section class="single-blog-area">
            <div class="container">
                <div class="row">
                   <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h2>{{ post.title }}</h2>
                                <div class="single-content">
                                    <div>
                                        <span>Category: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span>
                                        <br>
                                        {% if post.tags.exists %}
                                            <span>
                                                Tags: 
                                                {% for tag in post.tags.all %}
                                                    <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                                {% endfor %}
                                            </span>
                                            <br>
                                        {% endif %}
                                        {% comment %} <span>Views: {{ post.views }}</span> {% endcomment %}
                                    </div>
                                    {{ post.content|safe }}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="image-one">
                                            <img src="{% static 'img/blog-image1.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="image-two">
                                            <img src="{% static 'img/blog-image2.jpg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <a href="#">officia deserunt mollit</a> anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                <p>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
                            </div>

                            <form action="#" method="get">
                                <div class="name">
                                    <input type="text" name="" id="" placeholder="Name" class="name">
                                </div>
                                <div class="email">
                                    <input type="email" name="" id="" placeholder="Email" class="email">
                                </div>
                                <div class="comment">
                                    <input type="text" name="" id="" placeholder="Comment" class="comment">
                                </div>
                                <div class="post">
                                    <input type="submit" value="Post">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="newsletter">
                            <h2 class="sidebar-title">Search</h2>
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" name="s" placeholder="Search...">
                                <input type="submit" value="Search">
                            </form>
                        </div>

                        {% get_popular_posts %}
                        {% get_tags %}
                        {% get_popular_tags %}

                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>

</html>
{% endblock content %}
    